<!DOCTYPE html>
<html>
<head>
  <title>Elimkyrkan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,700|Raleway:800', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="maincontainer">
  <div class="pagecontainer fadein">
    <div class="headercontainer container">
      <header class="header">
        <div class="logo block">
        <%= image_tag("elimkyrkanheader.jpg" ) %>
        </div>
        <nav class="block navbar">
          <ul>
            <li><%= link_to 'Start', root_path, class: navigation_class_home(root_path) %></li>
            <li><%= link_to 'Aktiviteter', pages_activities_path, class: navigation_class(pages_activities_path) %></li>
            <li><%= link_to 'Om oss', pages_about_path, class: navigation_class(pages_about_path) %></li>
            <li><%= link_to 'Program', pages_program_path %></li>
            <li><%= link_to 'Länkar', pages_links_path %></li>
            <li><%= link_to 'Förbön', pages_prayer_path %></li>
          </ul>
        </nav>
        <div class="cleardiv"></div>
      </header>
    </div>
    <!-- Cleaning upp after header -->
    <div style="height: 1px"></div>
    <div id="slideshow">
      <p>slideshow</p>
      <p>slideshow</p>
      <p>slideshow</p>
      <p>slideshow</p>
      <p>slideshow</p>
      <p>slideshow</p>
      <p>slideshow</p>
      <p>slideshow</p>
      <p>slideshow</p>
      <p>slideshow</p>
    </div>

    <!-- Rendering page -->
    <%= yield %>
    <div class="cleardiv"></div>

    <footer id="footer">
      <ul class="sitemap">
        <li>sitemap item</li>
        <li>sitemap item</li>
        <li>sitemap item</li>
        <li>sitemap item</li>
        <li>sitemap item</li>
        <li>sitemap item</li>
      </ul>
    </footer>
  </div>
</div>

<div class="hidden">
  <div id="showslideshow">false</div>
</div>

</body>
</html>
